* {
    margin: 0;
    padding: 0;
}

body {
    background-color: chocolate;
}

#grid-area {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 600px;
    min-height: 600px;
    background-color: white;
    margin: 20px auto 100px auto;
}

.cell {
    border: 1px solid whitesmoke;
}

#new-grid {
    display: flex;
    margin: 40px auto 20px auto;
}