* {
    margin: 0;
    padding: 0;
}

body {
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 20px;
}

#grid-area {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    overflow: hidden;*/
    background-color: white;
    margin: 20px auto 100px auto;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    /* Flex 1 to make square */
    flex: 1;
    border: 1px solid whitesmoke;
}

#new-grid {
    display: flex;
    margin: 40px auto 20px auto;
}